.property-doc {
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 2fr;
    grid-template-areas: 
        "icon   title"
        "doc    doc"
        "how-to how-to";
}

.property-doc--icon {
    grid-area: icon;
    
    padding-left: 10px;
    padding-top: 10px;

    font-size: 2.7rem;
}

.property-doc--title {
    grid-area: title;

    padding-left: 10px;
    padding-top: 10px;
}

.property-doc--title--name {
    font-size: 1.5rem;
}

.property-doc--documentation {
    grid-area: doc;

    margin-top: 5px;
    padding: 5px 10px 0 10px;

    border-top: 1px dotted $color_primary;
}

.property-doc--documentation--html {
    @include codeBlock;

    margin: 10px 0;
    padding: 10px;
}

.property-doc--how-to-configure {
    grid-area: how-to;
    padding-left: 10px;
    padding-top: 10px;
}

.how-to-configure--yaml {
    @include codeBlock;
    padding: 10px 0;
    margin: 0 0 10px 0;
    pre {
        white-space: pre-wrap;
        margin: 0;
    }
}