.app {
    background-color: $color_brand;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "header"
        "sidebar"
        "main"
        "footer";
}

@media (min-width: 700px) {
    .app {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "header header"
            "sidebar main"
            "footer footer"
    }
}

.app--header {
    grid-area: header;
}

.app--sidebar {
    grid-area: sidebar;
}

.app--main-content {
    grid-area: main;
}

.app--main-content--nothing-selected {
    @include mainBox;
    
    height: 100%;
}

.app--main-content--inner {
    @include mainBox;

    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "namespace"
        "property";
}

app--main-content--inner--namespace {
    grid-area: namespace;
}

.app--main-content--inner--property {
    grid-area: property;
}

.app--main-footer {
    grid-area: footer;
}

.app-footer {
    @include mainBox;

    padding: 10px 5px;
    display: grid;
    grid-template-areas: 
        "left"
        "right"    
}

@media (min-width: 700px) {
    .app-footer {
        grid-template-columns: 1fr auto;
        grid-template-areas: 
            "left right"
    }
}

.footer--sponsor-link {
    grid-area: left;
}
.footer--versions {
    grid-area: right;

    font-size: 0.7em;
    line-height: 1.6em;

    span {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px dotted $color_primary;
    }

    span:nth-child(1) {
        border-left: none;
    }
}
