.app-header {
    @include mainBox;

    padding: 10px 0;

    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
        "icon"
        "title"
        "selectedItem"
        "filters"
        "module-version";
}

@media (min-width: 300px) {
    .app-header {
        grid-template-columns: 1fr 8fr auto;
        grid-template-areas: 
            "icon title        title"
            "icon selectedItem selectedItem"
            "icon filters      module-version"
    }
}


.app-header--icon {
    grid-area: icon;

    font-size: 6rem;
    text-align: center;
    cursor: pointer;
}

.app-header--title {
    grid-area: title;

    font-size: 2rem;
}

.app-header--selected-item {
    grid-area: selectedItem;

    .ui-item-view {
        display: inline-block;
        margin-left: 5px;
    }
}

.app-header--filters {
    grid-area: filters;
}

.app-header--module-version {
    grid-area: module-version;

    padding-right: 10px;
    font-size: 0.7em;
    line-height: 1.6em;
}