.sidebar-item-list {
    @include mainColorScheme;

    padding: 10px 0;

    border-bottom: 1px solid $color_secondary;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            cursor: pointer;

            padding: 3px 5px;
            border-bottom: 1px dotted $color_secondary;
            &:last-child {
                border-bottom: none;
            }

            &.selected {
                background-color: $color_secondaryBackground;
            }
        }
    }

    .sidebar-item-list--empty {
        padding-left: 5px;

        svg {
            position: absolute;
        }

        span {
            padding-left: 20px;
        }
    }
}
